This notebooks contains an llm-supported EDA with the Dataset "Adult Census Income"

In [1]:
import pandas as pd
from data_cleaning import fill_missing_values, rename_columns
import os
from dotenv import load_dotenv
from openai import OpenAI
from langchain_openai import ChatOpenAI
from langchain_experimental.agents import create_pandas_dataframe_agent

In [ ]:
# Loading and cleaning data
df = pd.read_csv(r"C:\Users\tobia\PortfolioProject\.data\adult.csv", na_values=["?"])  
df = fill_missing_values(df)  
df = rename_columns(df)

Vor der Reinigung:

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

None
Nach der Reinigung:

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,90,Unknown,77053,HS-grad,9,Widowed,Unknown,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,Unknown,186061,Some-college,10,Widowed,Unknown,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

None

In [ ]:
load_dotenv()
client = OpenAI(api_key=os.getenv("OPENAI_API_KEY"))

In [ ]:
load_dotenv()
api_key = os.getenv("OPENAI_API_KEY")

if api_key is None:
    print("❌ Fehler: API-Key nicht gefunden. Überprüfe deine .env-Datei!")
else:
    print("✅ API-Key erfolgreich geladen!")

✅ API-Key erfolgreich geladen!

In [6]:
chat = ChatOpenAI(model_name="gpt-4", temperature=0.0)
agent = create_pandas_dataframe_agent(chat, df, agent_type="tool-calling", allow_dangerous_code=True)

In [7]:
response = agent.invoke("What is the average age of the people in the dataset?")
print(response)

{'input': 'What is the average age of the people in the dataset?', 'output': 'The average age of the people in the dataset is approximately 38.58 years.'}

Analysiere detailliert, wie sich das Einkommen (≤50K / >50K) in der Bevölkerung des Adult Income Dataset verteilt. Erstelle dazu ein passendes Histogramm oder Balkendiagramm. Führe eine kurze Interpretation der Ergebnisse durch, indem du mögliche Trends oder Auffälligkeiten erklärst.

Untersuche mit Hilfe einer Korrelationstabelle und einer Visualisierung, welche Bildungsstufen am stärksten mit einem Einkommen von über 50K im Adult Income Dataset zusammenhängen. Erkläre, wie du zu diesem Ergebnis gekommen bist, und interpretiere mögliche Ursachen für diese Korrelation.

Führe eine Analyse durch, um festzustellen, ob bestimmte Bildungsabschlüsse bei Männern oder Frauen im Adult Income Dataset überdurchschnittlich häufig vorkommen. Erstelle dazu eine Kreuztabelle und ein passendes Diagramm. Leite aus den Ergebnissen Handlungsempfehlungen oder Hypothesen ab.

Untersuche, welche Berufsgruppen im Adult Income Dataset den höchsten bzw. geringsten Anteil an Personen mit einem Einkommen von über 50K haben. Erstelle dazu ein Diagramm und erläutere die wichtigsten Erkenntnisse. Gehe dabei auf mögliche Gründe für die Einkommensunterschiede ein.

Analysiere, wie sich die Wahrscheinlichkeit eines Einkommens von über 50K mit steigendem Alter verändert. Erstelle dazu eine lineare oder nicht-lineare Regressionsanalyse und eine passende Visualisierung. Erkläre, ob es signifikante Altersgruppen gibt, die besonders häufig ein hohes Einkommen erzielen.

Führe eine detaillierte Analyse durch, um herauszufinden, ob es signifikante Einkommensunterschiede zwischen Männern und Frauen im Adult Income Dataset gibt. Verwende dazu statistische Tests wie den T-Test oder den Chi-Quadrat-Test und erstelle ein geeignetes Diagramm zur Veranschaulichung.

Untersuche die Korrelation zwischen der Anzahl der gearbeiteten Stunden pro Woche und dem Einkommen im Adult Income Dataset. Erstelle eine Scatterplot-Visualisierung und führe eine Regressionsanalyse durch, um die Stärke und Richtung des Zusammenhangs zu ermitteln.

Analysiere, ob es signifikante Unterschiede in der durchschnittlichen Arbeitszeit pro Woche zwischen Männern und Frauen gibt. Führe dazu eine deskriptive Statistik durch, erstelle eine Visualisierung und interpretiere die Ergebnisse im Hinblick auf mögliche Gründe für die Unterschiede.

Führe eine Analyse durch, um den Zusammenhang zwischen dem Herkunftsland und der Einkommensklasse (≤50K / >50K) im Adult Income Dataset zu untersuchen. Erstelle eine Heatmap oder ein Balkendiagramm und interpretiere, ob bestimmte Länder tendenziell häufiger in bestimmten Einkommensklassen vertreten sind.

Untersuche, wie sich das Einkommen (≤50K / >50K) über verschiedene ethnische Gruppen hinweg im Adult Income Dataset verteilt. Verwende dazu eine Kreuztabelle und eine passende Visualisierung. Erkläre, ob es signifikante Unterschiede gibt, und spekuliere über mögliche Ursachen.

Analysiere, wie der Familienstand (ledig, verheiratet, geschieden) das Einkommen im Adult Income Dataset beeinflusst. Führe dazu eine statistische Analyse und eine Visualisierung durch. Erläutere die möglichen Zusammenhänge und ziehe Rückschlüsse auf soziale oder wirtschaftliche Faktoren.

Identifiziere die demographischen Merkmale, die die stärksten Prädiktoren für ein hohes Einkommen (über 50K) im Adult Income Dataset sind. Verwende dazu ein Entscheidungsbaum-Modell oder eine logistische Regression und erläutere, welche Merkmale besonders relevant sind.

Analysiere, ob es Berufe im Adult Income Dataset gibt, in denen der Einkommensunterschied zwischen Männern und Frauen besonders hoch ist. Führe dazu eine detaillierte statistische Analyse durch und erstelle eine Visualisierung, die die Unterschiede darstellt. Gib mögliche Gründe für die Unterschiede an.